html {
    background-color: rgb(107, 107, 107);
    display: flex;
}

body {
    width: 100%;
}

.header {
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: auto auto;
    margin-bottom: 50px;
    text-align: center;
}

.input_button {
    width: auto;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.videos {
    width: auto;
    height: auto;
    padding-bottom: 20px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 40px;
    display: flex;
}

.first_video {
    margin-left: auto;
    width: 50%;
    text-align: center;
    display: block;
    float: left;
}

.second_video {
    width: 50%;
    text-align: center;
    float: right;
    margin-left: 50px;
}

.work_buttons {
    width: auto;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.video-box {
    width: auto;
    height: auto;
    margin: 0 20px 20px 0;
    border-radius: 5px;
    overflow: hidden; }

.video-box p:hover {    
    color: #5FA467;
    cursor: pointer;
}

.maps {
    width: 200px;
    margin-left: 20px;
}